rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /{document=**} {
      allow read, write: if false; 
      // restict read,write access to all the document paths for any user
    }
    match /results/{userId}{
    	allow read : if request.auth !=null && request.auth.uid==userId; 
      //	allows read,write access to documents in the users collection 
      //	if the user is authenticated and uid matches the document name
    }
  	// match /competition/{userId}{
    // 	allow read,write : if request.auth !=null && request.auth.uid==userId; 
    //   //	allows read,write access to documents in the users collection 
    //   //	if the user is authenticated and uid matches the document name
    // }
    match /juniorquiz2/{juniorQ}{
      // allow read : if request.auth !=null && get(/databases/$(database)/documents/competition/$(request.auth.uid)).data.collection == "juniorquiz2";
    	allow read,write : if request.auth !=null && request.auth.uid=="8VQakISKvNXIsV1K1ITHB61FMG72";
      // allows read,write access to all documents in the juniorQuestions collection for any user 
    }
    match /seniorquiz2/{studentQ}{
      // allow read : if request.auth !=null && get(/databases/$(database)/documents/competition/$(request.auth.uid)).data.collection == "seniorquiz2";
    	allow read,write :if request.auth !=null && request.auth.uid=="8VQakISKvNXIsV1K1ITHB61FMG72";
      // allows read,write access to all documents in the questions collection for any user
    }
    match /testquiz2/{universityQ}{
    	// allow read : if request.auth !=null && get(/databases/$(database)/documents/competition/$(request.auth.uid)).data.collection == "testquiz2";
      allow read,write :if request.auth !=null && request.auth.uid=="8VQakISKvNXIsV1K1ITHB61FMG72";
      // allows read,write access to all documents in the seniorQuestions collection for any user
    }
    match /contacts/{userId}{
    	allow read : if true; 
      //	allows reads
    }
    match /downloads/{userId}{
    	allow read : if true; 
      //	allows reads
    }
}
}