// Navbar and timer page
ul.topnav {
  font-size: 30px;
  font-weight: 500;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // background-color: #9cc;
  border-bottom: solid 1px black;
}

ul.topnav li a,
ul.topnav li p {
  display: flex;
  color: black;
  align-items: center;
  padding: 0;
  text-align: center;
  margin-bottom: 0px;
  text-decoration: none;
}
ul.topnav li {
  float: right;
  /* width: 100%; */
}
ul.topnav li.right {
  margin-top: 10px;
  font-size: 16px;
  width: 33.33%;
  justify-content: center;
  display: flex;
}

ul.topnav li.right :hover {
  border-bottom: solid 1px black;
  padding-bottom: 0.2em;
}

.tflex-container {
  height: 40vh;
  background-image: url("../assets/CountdownBG.png");
  background-size: cover;
}

.timercolumn {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}
#timerbox {
  padding: 2%;
  text-align: center;
  max-width: 350px;
}
p#demo {
  font-size: 2em;
  width: 100%;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: black;
  /* min-width: 150px; */
  padding: 0.5em 2em;
  border-radius: 5px;
  border: solid 1px black;
}
.link:hover {
  text-decoration: none;
  color: white;
  background-color: black;
}
.footer {
  text-align: center;
  min-height: 8vh;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  background-color: white;
  box-shadow: 0px 0px 1px black;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
  justify-content: center;
}

.footer > a {
  color: black;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#caption {
  font-size: 2em;
}

#logoimg {
  display: none;
  width: 75%;
}

.minifooter {
  position: absolute;
  bottom: 0;
  padding: 1em;
}
.minifooter > a {
  color: black !important;
}
.minifooter > a :hover {
  text-decoration: underline;
  color: black !important;
}
// login page
.logininput {
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  display: inline-block;
  border: 1px solid #fff;
  box-sizing: border-box;
  background: #eee;
  color: black;
  border-bottom: solid 1px black;
}
.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoImage {
  max-width: 200px;
}
#loginbox {
  position: relative;
  text-align: center;
  max-width: 400px;
  margin: auto;
  border-radius: 15px;
  padding-bottom: 2em;
  background-color: white;
}

.lflex-container {
  display: none;
  height: 90vh;
  background-image: url("../assets/MainImage.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.logincolumn {
  display: flex;
  height: 80vh;
  justify-content: space-around;
  align-items: self-start;
  padding-top: 2em;
}

//about page
#clublogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.organizinglogos {
  max-height: 60px;
}
.nbparas p {
  margin-bottom: 0.5em;
  float: left;
  padding: 0 0.3em 0 0;
}
.aboutcontact {
  font-size: 18px;
  font-weight: 500;
  margin-top: 1em;
}

//dashboard page
.parent {
  width: 100%;
  display: inline-block;
}
.child {
  float: left;
  // display: inline;
}
.question {
  border-bottom: solid 1px black;
  margin-top: 2em;
}
.desktop-only {
  display: none;
}

/*------------color change classes---------*/
.bDefault {
  background-color: white !important;
  border: solid 2px black !important;
}
/*---Add this class to the IDs from 1 to 30 to make its background red and text white --- */
.bRed {
  background-color: #cc3333 !important;
  color: white;
}

/*---Add this class to the IDs from 1 to 30 to make its background green and text white --- */
.bGreen {
  background-color: #336666 !important;
  color: white;
}
.bYellow {
  background-color: #ff9900 !important;
  color: white;
}
/*---Add this class to the ID flagbutton to make it red --- */
.flagcolorRed {
  background-image: linear-gradient(rgb(207, 0, 0), rgb(238, 0, 0)) !important;
  color: white !important;
}
/*-----------------------------------------*/
.warning {
  margin-top: 20%;
}
.submit-warning {
  text-align: center !important;
  padding: 1em 1em;
  margin: auto;
}
.warning button {
  margin: auto;
  margin-bottom: 2em;
}
.submit {
  font-weight: 600;
  background-color: red;
}
/*---------------Question block-------------*/

.dashboard > div {
  top: 50%;
  transform: translateY(-50%);
}
.small-text {
  font-size: 50%;
}

.timerprogress {
  border-bottom: 2px solid black;
  border-top: 0px;
  // background-color: #e1f8ff;
  padding: 0.5em 0.2em;
}
#xtimer,
#xprogress {
  overflow: visible;
  height: 100%;
  padding: 1%;
  text-align: center;
}
.xtimervalue {
  font-size: 1.5em;
  // font-weight: bold;
  vertical-align: middle;
  text-align: center;
}
.verticalCenter {
  position: relative;
  top: 60%;
  overflow: auto;
  transform: translateY(-50%);
}
.xbar {
  justify-content: center;
}
.xbar .q {
  text-align: center;
  float: left;
  width: 6%;
  min-height: 30px;
  min-width: 30px;
  border: 1px solid rgb(117, 117, 117);
}
.xnumcategory {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 1em 0;
  padding-bottom: 0.5em;
  border-bottom: solid 1px black;
}

.xqNum,
.xqCategory {
  font-weight: 600;
  max-width: 450px;
  padding: 0.2em 0.5em;
  color: white;
  background-color: rgb(0, 115, 168);
  margin: 0;
}
.xqNum {
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgb(0, 64, 148);
}
.xqCategory {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Qcontent {
  background-color: white;
}
.questionContent {
  font-size: 1em;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 12vh;
}
label {
  font-size: 1em;
}

.reset {
  border: none;
  margin-top: 10px;
  background: red;
  color: white;
}
.dashboard-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1em 0 0 0;
  border-top: solid 2px black;
  width: 100%;
  min-height: 10vh;
  color: white;
  background-color: #fff;
  text-align: center;
}
.dashboard-footer .col {
  margin: 0;
  padding: 0;
}

button {
  padding: 0.2em 1em;
  border: solid 1px;
  background: white;
  color: black;
  border-radius: 5px;
}
button :hover,
button :focus {
  text-decoration: none;
  color: white;
  background-color: black;
}
.flagbutton {
  background-color: #ff9900;
  border-color: #ff9900;
}

// instruction page
.instructions {
  margin-top: 2em;
}
.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
button :focus,
button :active {
  background-color: black;
  color: white;
}

// changes when coming to desktop
@media screen and (min-width: 767px) {
  ul.topnav {
    padding: 0 1em;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul.topnav li a {
    padding: 0.5rem;
    text-align: unset;
  }
  ul.topnav li {
    float: left;
  }
  ul.topnav li.right {
    float: right;
    width: unset;
  }
  // timer page

  .timercolumn,
  .tflex-container {
    height: 90vh;
  }
  #demo {
    font-size: 3em;
  }
  // login page
  .logoImage {
    max-width: 300px;
  }
  .lflex-container {
    display: inline-block;
  }
  //dashboard
  .desktop-only {
    display: initial !important;
  }
  .timerprogress {
    border: 2px solid black;
    border-top: 0px;
    padding: 1em;
  }
  .xqNum,
  .xqCategory {
    padding: 0.5em 1em;
  }
  .dashboard-footer {
    left: auto !important;
  }
  button {
    padding: 0.2em 1em;
    min-width: 150px;
  }

  //about page
  .organizinglogos {
    padding-left: 1%;
    padding-right: 1%;
    max-height: 100px;
  }
  .nbparas p {
    margin-bottom: 0.5em;
    text-align: center;
    float: none !important;
    padding: 0;
  }
  .aboutcontact {
    margin-top: 1.5em;
  }
  .logincolumn {
    height: 90vh;
    align-items: center;
    padding-top: 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 940px) {
  .lflex-container {
    background-size: cover;
    background-position: 20% !important;
  }
  ul.topnav {
    min-height: 5vh;
  }
  .timercolumn,
  .tflex-container,
  .logincolumn {
    height: 95vh;
  }
}
