@import "./login.scss";
.parent {
  width: 100%;
  display: inline-block;
}
.child {
  float: left;
  // display: inline;
}
.question {
  border-bottom: solid 1px black;
  margin-top: 2em;
}
.desktop-only {
  display: none;
}

/*------------color change classes---------*/
.bDefault {
  background-color: white !important;
  border: solid 2px black !important;
}
/*---Add this class to the IDs from 1 to 30 to make its background red and text white --- */
.bRed {
  background-color: #cc3333 !important;
  color: white;
}

/*---Add this class to the IDs from 1 to 30 to make its background green and text white --- */
.bGreen {
  background-color: #336666 !important;
  color: white;
}
.bYellow {
  background-color: #ff9900 !important;
  color: white;
}
/*---Add this class to the ID flagbutton to make it red --- */
.flagcolorRed {
  background-image: linear-gradient(rgb(207, 0, 0), rgb(238, 0, 0)) !important;
  color: white !important;
}
/*-----------------------------------------*/
.warning {
  margin-top: 20%;
}
.submit-warning {
  text-align: center !important;
  padding: 1em 1em;
  margin: auto;
}
.warning button {
  margin: auto;
  margin-bottom: 2em;
}
.submit {
  font-weight: 600;
  background-color: red;
}
/*---------------Question block-------------*/

.dashboard > div {
  top: 50%;
  transform: translateY(-50%);
}
.small-text {
  font-size: 50%;
}

.timerprogress {
  border-bottom: 2px solid black;
  border-top: 0px;
  background-color: #e1f8ff;
  padding: 0.5em 0.2em;
}
#xtimer,
#xprogress {
  overflow: visible;
  height: 100%;
  padding: 1%;
  text-align: center;
}
.xtimervalue {
  font-size: 1.5em;
  // font-weight: bold;
  vertical-align: middle;
  text-align: center;
}
.verticalCenter {
  position: relative;
  top: 60%;
  overflow: auto;
  transform: translateY(-50%);
}
.xbar {
}
.xbar .q {
  text-align: center;
  float: left;
  width: 3.33%;
  border: 1px solid rgb(117, 117, 117);
}
.xnumcategory {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 1em 0;
  padding-bottom: 0.5em;
  border-bottom: solid 1px black;
}

.xqNum,
.xqCategory {
  font-weight: 600;
  max-width: 450px;
  padding: 0.2em 0.5em;
  color: white;
  background-color: rgb(0, 115, 168);
  margin: 0;
}
.xqNum {
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgb(0, 64, 148);
}
.xqCategory {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Qcontent {
  background-color: white;
}
.questionContent {
  font-size: 1em;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
label {
  font-size: 1em;
}

.reset {
  border: none;
  margin-top: 10px;
  background: red;
  color: white;
}
.dashboard-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1em 0 0 0;
  border-top: solid 2px black;
  width: 100%;
  min-height: 10vh;
  color: white;
  background-color: #c5f1ff;
  text-align: center;
}
.dashboard-footer .col {
  margin: 0;
  padding: 0;
}
#next,
#previous,
#flag {
  height: 100%;
}
.cRed {
  color: red;
}
.flagbutton {
  color: black;
  background-image: linear-gradient(rgb(252, 167, 10), rgb(252, 167, 10)) !important;
  outline: none;
}

button {
  padding: 0.2em 1em;
  border: solid 1px;
  background: white;
  color: black;
  border-radius: 5px;
}
button :hover,
button :focus {
  text-decoration: none;
  color: white;
  background-color: black;
}
