#faq {
  background-color: seashell;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  #loginbody {
    position: relative;
  }
  .divider {
    width: 1%;
    height: auto;
    display: inline-block;
  }
  section {
    background-color: rgba($color: white, $alpha: 0.5);
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 15vh;
    height: 100%;
    width: 100%;
  }
  h3 {
    text-align: left;
    font-family: Helvetica;
    margin-bottom: 6px;
    font-size: 100%;
    font-weight: 600;
  }
}
