.instructions {
  margin-top: 2em;
}
.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
button :focus,
button :active {
  background-color: black;
  color: white;
}
