#instructions {
    background-image: url("../assets/White.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    
    .rowr {
        clear: both;
        display: table;
    }
    .columnr {
        float: left;
        width: 50%;
        padding: 10px;
      }

    section {
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 15vh;
        height: 60%;
        width: 40%;
    }
    button {
        background-color:red;
        color: #fff;
        float: left ;
        padding: 15px 48px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin-top: 80px;
        margin-bottom: 50px;
        border-radius: 14px;
        
    }
    img {
        max-width: 10%;
        max-height: 10%;
        object-fit: contain ;
    }
    h1 {
        margin: 5px 5px;
        text-align: center;
        font-size: 12px ;
    }
    a {
        margin: 5px 5px;
        font-size: 12px;
        text-align: center;
    
    }
}
#left{
    float: left;
    width: 50% ;
    height: 75%;
}
#right{
    float: right;
    width: 50% ;
    height: 75%;
}