// changes when coming to desktop

@media screen and (min-width: 767px) {
  ul.topnav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  ul.topnav li a {
    padding: 0.5rem;
    text-align: unset;
  }
  ul.topnav li {
    float: left;
  }
  ul.topnav li.right {
    float: right;
    width: unset;
  }
  // timer page

  .timercolumn,
  .tflex-container {
    height: 100vh;
  }
  #demo {
    font-size: 3em;
  }
  // login page
  .logoImage {
    max-width: 300px;
  }
  .lflex-container {
    display: inline-block;
  }
  //dashboard
  .desktop-only {
    display: initial !important;
  }
  .timerprogress {
    border: 2px solid black;
    border-top: 0px;
    padding: 1em;
  }
  .xqNum,
  .xqCategory {
    padding: 0.5em 1em;
  }
  .dashboard-footer {
    left: auto !important;
  }
  button {
    padding: 0.2em 1em;
    min-width: 150px;
  }

  //about page
  .organizinglogos {
    padding-left: 1%;
    padding-right: 1%;
    max-height: 100px;
  }
  .nbparas p {
    margin-bottom: 0.5em;
    text-align: center;
    float: none !important;
    padding: 0;
  }
  .aboutcontact {
    margin-top: 1.5em;
  }
  .logincolumn {
    height: 90vh;
    align-items: center;
    padding-top: 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 940px) {
  .lflex-container {
    background-size: cover;
    background-position: 20% !important;
  }
}
