<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uMora</title>
</head>

<body>
    <ul class="topnav">
        <li>
            <a href="timer.html">μMora Mathematics Competition 2020</a>
        </li>
        <li class="right"><a href="#about">About</a></li>
        <li class="right"><a href="#faq">F.A.Q.</a></li>
        <li class="right"><a href="#instructions">Instructions</a></li>

    </ul>
    <div class="aboutflex-container">
        <div id="aboutlogo">
            <img src="png.png" alt="" id="logoimg">
        </div>
        <hr class="aboutHR">
        <div id="aboutDescription">
            <h2>μMora 2020</h2>
            <p>
                Competition description goes here.</P><P>
                (Electronics Club, now affectionately known as the Electronic Club is the official student association of
                the Department of Electronic and Telecommunication Engineering, University of Moratuwa. Established over
                two decades ago, Electronic Club has grown from strength to strength over the years. Many activities are
                carried out by the students of the club focusing on community service as well as professional
                development.)
                (Electronics Club, now affectionately known as the Electronic Club is the official student association of
                the Department of Electronic and Telecommunication Engineering, University of Moratuwa. )
            </p><br>
            <hr><br>
            <h2>Electronic Club</h2>
            <p>Electronics Club, now affectionately known as the Electronic Club is the official student association of
                the Department of Electronic and Telecommunication Engineering, University of Moratuwa. Established over
                two decades ago, Electronic Club has grown from strength to strength over the years. Many activities are
                carried out by the students of the club focusing on community service as well as professional
                development. </p>
        </div>
        <hr>
        <div id="clublogos">
            <img src="src/eclub.png" alt="" class="organizinglogos">
            <img src="src/entc.png" alt="" class="organizinglogos">
            <img src="src/more.png" alt="" class="organizinglogos">
        </div>
        <hr>
        <div id="aboutlinks">
            <h2>Contact Us</h2>
            <div>
                
                <p class="aboutcontact"><i class="material-icons">call</i> About Competition</p>
                <p>+94 71 202 6460</p>
                <p>Kavindu Nadeeshana</p><br>


                <p class="aboutcontact"><i class="material-icons">calculate</i> About Questions</p>
                <p>+94 70 236 1378</p>
                <p>Mevan Wijewardena</p><br>

                
            </div>
            <div>
                <p class="aboutcontact"><i class="material-icons">support_agent</i> Technical Support</p>
                <p>+94 72 371 5922</p>
                <p>Pulasthi Ekanayake</p><br>

                <p class="aboutcontact"><i class="material-icons">code</i> Platform Support</p>
                <p>+94 71 240 0147</p>
                <p>Tharindu Niranjan</p><br>
            </div>
            <div>
                <p class="aboutcontact"><i class="material-icons">email</i> Email</p>
                <p>electronicclubuom@gmail.com</p>
            </div>
        </div>

    </div>
    <footer class="footer">
        <a href="https://www.facebook.com/UOM.ECLUB" target="_blank">μMora | EClub | University of Moratuwa</a>
    </footer>

</body>

</html>
