/* .logincontainer {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateX(-50%);
}

#loginbody {
  position: relative;
} */

#navbar {
  position: relative;
  padding: 20px;
  padding-left: 20px;
  font-size: 2em;
  padding-right: 100px;
  margin-top: auto;
  background-color: rgb(18, 18, 24);
  color: white;
  box-shadow: 0px 1px 3px rgb(1, 20, 49);
}

.logininput {
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* button {
  background-color: rgb(18, 18, 24);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: rgb(2, 48, 66);
}
button:focus {
  outline: none;
  background-color: rgb(18, 18, 24);
} */

#loginbox {
  position: relative;
  display: inline-block;
  border-radius: 15px;
  padding: 20px;
  background-color: white;
}
#signinheader {
  height: 100px;
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: 900;
  border-radius: 10px 10px 30px 30px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgb(18, 18, 24);
}

#logo {
  position: absolute;
  margin-top: 50px;
}
#logoimg {
  float: right;
  padding: 5px;
  max-width: 20%;
  border-radius: 500px 0px 0px 500px;
  box-shadow: -2px 2px 5px rgb(3, 3, 53);
  background-color: #adc8d1;
}

@media (min-width: 768px) and (max-width: 991px) {
  #loginbox {
    margin-top: 15%;
  }
  #logoimg {
    margin-top: -5%;
  }
}

@media (max-width: 767px) {
  #loginbox {
    margin-top: 20%;
  }
}
