*{
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
.topnav, .tcolumn, .timercolumn{
    margin: 0;
}

.topnav {
    background: #03a9f4;
    padding: 20px;
}
ul.topnav {
    height: 10%;
    font-size: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
  }
  ul.topnav li {float: left;}
  ul.topnav li a, ul.topnav li p {
    
    height: 100%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .footer>a{
    color: black;
    height: 100%;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul.topnav li a:hover:not(.active) {background-color: #333;}
  
  ul.topnav li.right {
    margin-top: 10px;
    height: 100%;
    font-size: 16px;
    float: right;
  }

.tflex-container{
    height: 92vh;
}
.tcolumn {
    flex:1;
}
#logoblock{
    background-image: url("../assets/CountdownBG.png") ;
    background-repeat: repeat;
    background-size: 76%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.timercolumn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#timerbox{
    padding: 2%;
    text-align: center;
   
  }
  p#demo{
      font-size: 60px;
      width: 100%;
  }
  button.t{
    background-color: rgb(18, 18, 24);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
  }
  button.t:hover{
    opacity: 0.8;
  
  }
  button.t:focus{
    outline: none;
    background-color: rgb(18, 18, 24);
  }

.footer {
    text-align: center;
    border-top: 2px solid rgb(18, 18, 24);
    box-shadow: -0px -0px 1px black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: rgb(205, 219, 221);
    /*background-color: rgb(150, 186, 192);*/
    overflow: hidden;
  
}
#logoimg{
    display: none;
}
#caption{
    font-size: 18px;
}

#logoimg{
    display: none;
    width: 75%;
}
@media (min-width: 768px) and (max-width: 1199px) {
    p#demo{
        font-size: 45px;
    }
}
@media screen and (min-width: 767px){
    .tflex-container {
        display: flex;
    }    
    
}
@media (max-width:767px){
    .timercolumn{
        height: 45%;
    }
    ul.topnav li{
        float: none;
        width: 100%;
    }
    ul.topnav li.right{
        width: 33.33%;
    }
    ul.topnav li a{
        padding: 10px 14px;
    }
    #logoblock{
        text-align: center;
        overflow: auto;
        height: auto;;
      }
    #logoimg{
        display: inline-block;
        width: 75%;
    }
    p#demo{
        font-size: 40px;
    }
    ul.topnav{
        text-align: center;
    }
}
@media (max-width:550px){
    ul.topnav{
        font-size: 20px;
    }
    
}
@media (max-width:380px){
    p#demo{
        font-size: 30px;
    }
}