ul.topnav {
  min-height: 10vh;
  font-size: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: rgb(32, 32, 32); */
  border-bottom: solid 1px black;
}
ul.topnav li {
  float: left;
}
ul.topnav li a,
ul.topnav li p {
  display: flex;
  color: black;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0px;
  text-decoration: none;
}
.footer > a {
  color: black;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li.right {
  margin-top: 10px;
  font-size: 16px;
  float: right;
}
ul.topnav li.right :hover {
  border-bottom: solid 1px black;
  padding-bottom: 0.2em;
}

.tflex-container {
  height: 82vh;
  background-image: url("../assets/CountdownBG.png");
  background-size: cover;
}
.tcolumn {
  flex: 1;
}
#logoblock {
  background-image: url("../assets/CountdownBG.png");
  background-repeat: repeat;
  background-size: 76%;
  /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.timercolumn {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
#timerbox {
  padding: 2%;
  text-align: center;
}
p#demo {
  font-size: 2em;
  width: 100%;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: black;
  /* min-width: 150px; */
  padding: 0.5em 2em;
  border-radius: 5px;
  border: solid 1px black;
}
.link:hover {
  text-decoration: none;
  color: white;
  background-color: black;
}
.footer {
  text-align: center;
  min-height: 8vh;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  background-color: white;
  box-shadow: 0px 0px 1px black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
}
#logoimg {
  display: none;
}
#caption {
  font-size: 18px;
}

#logoimg {
  display: none;
  width: 75%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  p#demo {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .timercolumn,
  .tflex-container {
    height: 40vh;
  }
  ul.topnav li a,
  ul.topnav li p {
    padding: 0;
    text-align: center;
  }
  ul.topnav li {
    float: none;
    width: 100%;
  }
  ul.topnav li.right {
    width: 33.33%;
    justify-content: center;
    display: flex;
  }
}
