.Dropzone {
  min-height: 200px;
  width: 100%;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.Highlight {
  background-color: rgb(188, 185, 236);
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}

.FileInput {
  display: none;
}

.file-name {
  display: inline-block;
}
.deleteFile {
  color: red;
  float: right;
  display: inline-block;
  cursor: pointer;
}

.file-area {
  max-height: 72px;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  padding: 0.5em 0.5em 0.5em 1em;
  border: solid 1px #000;
  border-radius: 5px;
  color: #aaa;
}
.uploaded {
  background-color: #aad2ee;
  font-weight: bold;
  color: #000;
}
.upload-area {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
}
.upload-button {
  width: 100%;
}

@media (min-width: 767px) {
  .file-area {
    flex: 0 0 48%;
    max-width: 48%;
  }
  .Dropzone {
    min-height: 150px;
  }
}
